.swiper-button-next, .swiper-button-prev{
    position: absolute;
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    color: black;
}
.swiper-button-next{
    left: ;
}