/* .swiper-button-next, .swiper-button-prev{
    position: absolute;
    background-color: white;
    width: 60px;
    height:60px;
    border-radius: 50%;
    border: 1px solid black;
    color: black;
    top: 460px !important;
    opacity: 60%;
}
.swiper-button-next{
    left: 950px !important;
}

.swiper-button-prev{
    left: 890px !important;
}

.swiper-navigation-icon{
    width: 40px !important;
    height: 40px !important;
} */

.react-tabs__tab-list{
    margin: 10px 0;
}

.react-tabs__tab{
    border: 1px solid #DADADA;
}

.react-tabs__tab--selected{
    border: 2px solid #3B3937;
    color: #3B3937;
    font-weight: bold;
    border-radius: 0;
}